.FollowIcon {
  margin-top: 6px;
  margin-right: 40px;
  cursor: pointer;
}

.TravelCard {
  color: black;
  border: 1px solid black;
  margin-top: 40px;
  margin-left: 5px;
  min-height: 450px;
  height: 100%;
  font-family: "Redressed", cursive;
}

.IconsSide {
  position: absolute;
  flex: auto;
  right: 0;
}

.cardDiv {
  /* border: gray solid 1px; */
  color: black;
  /* border-radius: 20px; */
  /* background-color: black; */
  margin-top: 10px;
}

.HomeButton {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 30px;
  /* background-color: gray; */
  color: black;
}

.AddVacationClass {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/31/above-1839587__340.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: rgb(104, 103, 103);
  height: 800px;
}

.HomeButtonbtn {
  position: absolute;
  left: 50px;
  width: 25px;
  height: 25px;
  margin-top: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}
.MoreInfoButton {
  position: relative;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #a59087;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.box-shadow {
  box-shadow: 0px 0px 18px -3px rgba(143, 143, 143, 0.5);
}

.card:hover {
  box-shadow: 0px 0px 20px -3px rgba(143, 143, 143, 0.75);
}

.box-shadow-dark {
  box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, 0.25);
}

body {
  background-color: yellow;
  font-family: "Open Sans", Arial, Verdana;
}

.headerCard {
  background-color: black;
}

h6 {
  color: #990000;
}

.font-weight-bolder {
  font-weight: 900;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 900;
}

.heading-big {
  font-weight: 800;
  text-transform: uppercase;
  color: red;
  margin: 0;
  padding: 0.15rem 0;
  line-height: 1.2;
  font-size: 2rem;
  transition: color 0.5s ease-in, border-color 0.5s ease-in-out;
}
.heading-big-square {
  padding: 1rem 1rem;
  border: 10px solid red;
  margin: 0.5rem auto 1rem auto;
}
.heading-big:hover {
  color: #ff9900;
  border-color: #ff9900;
}

.CardMain {
  margin-top: 30px;
  height: 550px;
}

.TravelName {
  font-size: 20px;
  text-align: left;
}

.TravelImage {
  width: 100%;
  height: 250px;
}
