.NavHeader {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  /* margin-left: 5px; */

  color: grey;
  height: 25px;
}
.NavNameHeader {
  margin-left: 250px;
}

.Image {
  height: 550px;
  width: 90%;
  margin-top: 10px;
}
